$white1-color: #ffffff;
$font-white1-color: #fffffe;
$success6-color: #008858;
$success5-color: #0ab268;
$success4-color: #56c08d;
$success3-color: #92dab2;
$success2-color: #c6f3d7;
$success1-color: #e3f9e9;

$warning6-color: #ed7a00;
$warning5-color: #ff9900;
$warning4-color: #ffb04f;
$warning3-color: #fdd78a;
$warning2-color: #ffe8b2;
$warning1-color: #fff5e3;

$error6-color: #cc3939;
$error5-color: #ff4747;
$error4-color: #ff6b70;
$error3-color: #ff9191;
$error2-color: #ffc7c7;
$error1-color: #ffeded;

$gray6-color: #bec0df;
$gray5-color: #d4d9f1;
$gray4-color: #e9ebf7;
$gray3-color: #eff2fd;
$gray2-color: #f7fafe;
$gray1-color: #f9fafd;

$brand6-color: #2f37b7;
$brand5-color: #5d4eff;
$brand4-color: #626aea;
$brand3-color: #c7d2ff;
$brand2-color: #d9e1ff;
$brand1-color: #f2f3ff;

$font-gray5-color: #bec0df;
$font-gray4-color: #a7abd3;
$font-gray3-color: #70749e;
$font-gray2-color: #353966;
$font-gray1-color: #020c1a;

$primary-color: #5444ff;

$font-title-color: #3d3d3d;
$btn-border-radius: 8px;
$card-border-radius: 12px;
$input-border-radius: 8px;
$radio-button-border-radius: 50px;

$dialog-padding: 24px;

$normal-padding: 24px;
